certifi==2023.11.17
cffi @ file:///private/tmp/cffi-20231014-5567-1hyue8f/cffi-1.16.0
charset-normalizer==3.3.2
docutils @ file:///private/tmp/docutils-20231015-5454-w1xze4/docutils-0.20.1
idna==3.6
pycparser @ file:///private/tmp/pycparser-20231013-5787-1anpge2/pycparser-2.21
requests==2.31.0
six==1.16.0
urllib3==2.1.0
cachetools==5.3.2
certifi==2023.11.17
cffi @ file:///private/tmp/cffi-20231014-5567-1hyue8f/cffi-1.16.0
charset-normalizer==3.3.2
docutils @ file:///private/tmp/docutils-20231015-5454-w1xze4/docutils-0.20.1
google-api-core==2.14.0
google-auth==2.23.4
google-cloud-core==2.3.3
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
idna==3.6
protobuf==4.25.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser @ file:///private/tmp/pycparser-20231013-5787-1anpge2/pycparser-2.21
requests==2.31.0
rsa==4.9
six==1.16.0
urllib3==2.1.0
